# Python
.venv/
__pycache__/
*.py[cod]

# Node.js
node_modules/
dist/

# Env
.env
backend/.env.back
frontend/.env.front

# OS
.DS_Store

# SQLite データベース本体
backend/db.sqlite3

# 前に説明した一時ファイル（WALモード用）もまとめて除外
backend/db.sqlite3-shm
backend/db.sqlite3-wal